
@model Usuario
@{
    ViewData["Title"] = "Editar";
}

<h1>Edição de Usuarios</h1>

<form asp-action="update">
    <div class="form-group" hidden>
        <label for="id-nome">ID</label>
        <input type="text" name="idUsuario" value="@Model.idUsuario" class="form-control" id="id-nome" />
    </div>
    <div class="form-group">
        <label for="id-nome">Nome</label>
        <input type="text" name="nome" value="@Model.nome" class="form-control" id="id-nome" />
    </div>
    <div class="form-group">
        <label for="id-nome">Sobrenome</label>
        <input type="text" name="sobrenome" value="@Model.sobrenome" class="form-control" id="id-sobrenome" />
    </div>
    <div class="form-group">
        <label for="id-nome">Idade</label>
        <input type="text" name="idade" value="@Model.idade" class="form-control" id="id-idade" />
    </div>
    <div class="form-group">
        <label for="id-nome">CPF</label>
        <input type="text" name="cpf" value="@Model.cpf" class="form-control" id="id-idade" />
    </div>
    <div class="form-group">
        <label for="id-nome">Data De Nascimento</label>
        <input type="datetime" name="dtNascimento" value="@Model.dtNascimento" class="form-control" id="id-datanasc" />
    </div>

    <input type="submit" value="Editar" class="btn btn-outline-success" />
    <a asp-controller="Home" asp-action="index" class="btn btn-outline-primary"> Voltar</a>
</form>
